html {
    font-family: monospace;
    background-color: #e1f5f2
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
  
body {
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    max-width: 640px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
}

.navbar__brand {
  display: flex;
  align-items: center;
}

.navbar__logo {
  margin-right: 30px;
  max-height: 50px;
}

.navbar__navigation {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
  color: #5c6b70;
}

.navbar__navigation-item {
  margin-left: 50px;
}

.navbar__link {
  text-decoration: none;
  color: inherit;
}

.main {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 20px;
}

.text__header {
    text-align: left;
}

.text__paragraph {
    text-align: left;
    color: #3a3939;
}

.text__link a {
    text-align: left;
    color: #013a4b;
    text-decoration: none;
}

.text__link a:visited {
    text-decoration: none;
}

.text__link a:hover {
    text-decoration: underline;
}

.text__link a:active {
    text-decoration: underline;
}

.thematic__break {
    color: #175466;
    background-color: #175466;
    height: 3px;
  }

.button__multichoice {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
}

.button__multichoice .left {
    flex-grow: 3;
    display: flex;
    flex-direction: row;
}

.button__multichoice .center {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
}

.button__multichoice .right {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.button__submit {
    background-color: #5e5597;
    margin: 0 auto;
    border: 2px solid black;
    font-size: 12px;
    width: 160px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}

.button__next {
    background-color: #175466;
    margin: 0 auto;
    border: 2px solid black;
    font-size: 12px;
    width: 160px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}

.footer {
    background-color: #175466;
    padding: 24px 0;
    margin-top: 50px;
    /* border-top: 4px solid black; */
    color: white;
    font-size: 12px;
}
  
.footer__content {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
}
  
.footer .left {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}
  
.footer .right {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
  
.footer__column {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
  
.footer__item {
    margin-bottom: 5px;
    color: inherit;
    text-decoration: none;
}
  
.footer__item:hover {
    text-decoration: underline;
}