{% extends "base.html" %}

{% block content %}

<div>
    <section>
        <h1 class="text__header">About This App</h1>
    </section>
    <section>
        <p class="text__paragraph">This is a practical learning project, simulating an online quiz app.</p>
        <p class="text__paragraph">The following areas are learned from this project:</p>
        <ul class="text__paragraph">
            <li>How to grade answers for individual questions</li>
            <li>How to tally a user's answers and return a final score</li>
            <li>How to store and retrieve data from SQLite</li>
        </ul>
    </section>
</div>

{% endblock %}