{% extends "base.html" %}

{% block content %}

<section>
    {% if question %}
    <p class="text__paragraph"> Question: {{ question }} </p>
    {% else %}
    <p> Something went wrong! </p>
    {% endif %}
</section>
<form class="form" method="POST">
<section>
    {% for answer in answers %}
        <input type="radio" name="options" value="{{ answer }}"><nobr class="radio__options"> {{ answer }} </nobr></input><br>
    {% endfor %}
</section>
<br>
<section>
    {% if answer_response == 'Correct!' %}
    <p class="text__response" style="color:green;"><b> {{ answer_response }} </b></p>
    {% elif answer_response == 'Incorrect!' %}
    <p class="text__response" style="color:red;"><b> {{ answer_response }} </b></p>
    {% else %}
    <p class="text__response"><br></p>
    {% endif %}
</section>
<br>
<div class="button__multichoice">
    <section class="left">
            <button class="button__submit" type="submit" name="submit_movement" value="submit">Submit Answer</button>
    </section>
    <section class="center">
            <button class="button__next" type="submit" name="submit_movement" value="next">Next Question</button>
    </section>
    <section class="right">
    </section>
</div>
</form>

{% endblock %}