{% extends "base.html" %}

{% block content %}

<section>
    {% if question %}
    <p> Question: {{ question }} </p>
    {% else %}
    <p> Something is False </p>
    {% endif %}
</section>
<form class="form" method="POST">
<section>
    {% for answer in answers %}
        <input type="radio" name="options" value=" {{ answer }}"> {{ answer }}</input><br>
    {% endfor %}
</section>
<br>
<section>
    {% if answer_response %}
    <p> {{ answer_response }} </p>
    {% else %}
    <p> Something is False </p>
    {% endif %}
</section>
<br>
<div class="button__multichoice">
    <section class="left">
            <button class="button__submit" type="submit" name="submit_movement" value="submit">Submit Answer</button>
    </section>
    <section class="center">
            <button class="button__next" type="submit" name="submit_movement" value="next">Next Question</button>
    </section>
    <section class="right">
    </section>
</div>
</form>

{% endblock %}