{% extends "base.html" %}

{% block content %}

<section>
    {% if question %}
    <p> Question: {{ question }} </p>
    {% else %}
    <p> Something is False </p>
    {% endif %}
</section>
<section>
    {% for answer in answers %}
    <input type="radio" name="options" id="option1" value="option1"> {{ answer }}</input><br>
    {% endfor %}
</section>
<br>
<section>
    {% if answer_response %}
    <p> {{ answer_response }} </p>
    {% else %}
    <p> Something is False </p>
    {% endif %}
</section>
<br>
<div class="button__multichoice">
    <section class="left">
        <form class="form" method="POST">
            <button class="button__submit" type="submit" name="submit_answer" value="center">Submit Answer</button>
        </form>
    </section>
    <section class="center">
        <form class="form" method="POST">
            <button class="button__next" type="submit" name="submit_next" value="next">Next Question</button>
        </form>
    </section>
    <section class="right">
    </section>
</div>

{% endblock %}